* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;
}

header {
  background: linear-gradient(
    135deg, 
    #2ebac4 0%,   /* primary tirkizna */
    #5fe3e3 50%,  /* svetlija akcent tirkizna */
    #b2f5ff 100%  /* vrlo svetla pozadina */
  );
;
}

/* colors  */

.primary-color {
  color: white;
}

.secondary-color {
  color: #3087a1;
}

.line-color {
  background-color: #48acca;
}



.full-line {
  border: none;
  height: 1px;
  background: #48acca;
  width: 100%;
}
.full-line-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5px;
}

.lines {
  border: none;
  height: 1px;
  background: #48acca;
  width: 70%;
}

.lines-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}

.header-top-title {
  text-align: center;
  font-size: 2.2rem;
  padding: 30px 0;
  font-weight: 500;
}

.hedader-text {
  text-align: center;
  font-size: 1rem;
  padding: 0 20px 30px 20px;
  line-height: 1.5;
}

.button-card {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.header-btn {
  background: linear-gradient(135deg, #36c8d3, #68e0e0);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #2abbc5;
  cursor: pointer;
  transition: 0.3s;
}
.header-btn:hover {
  background: linear-gradient(135deg, #38afb8, #5adddd);
  box-shadow: 0 0 8px rgba(41, 119, 124, 0.4);
}
.header-btn:active {
  transform: scale(0.95);
}

/* about me */

.about-me-title {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 2rem;
  padding: 40px 0 20px 0;
  font-weight: 500;
}

.about-me-title hr {
  width: 85%;
  align-items: center;
  justify-content: center;
  background-color: #48acca;
  border: none;
  margin: 0;
  padding: 0;
}

.about-me-title div {
  padding: 0;
}

.about-me-title h2 {
  white-space: nowrap;
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #48acca;
  text-decoration-thickness: 1px;
}

.about-me-text {
  text-align: center;
  font-size: 1rem;
  padding: 0 20px 40px 20px;
  line-height: 1.5;
}

.about-me-card-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding-bottom: 60px;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.about-me-card {
  background: linear-gradient(135deg, #36c8d367, #68e0e02c);
  border: 1px solid #36c8d3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about-me-card i {
  color: #2e6170;
  font-size: 2.5rem;
}